* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-azul-text);
}

body {
    background-color: var(--cor-azul-dark);
}


/*variavel de cores*/

:root {
    --cor-azul-claro: #29C2FF;
    --cor-azul-dark: #0A3140;
    --cor-azul-text: #25AFE6;
    --cor-azul-text-hover: #146180;
}

#conteudo {
    margin: 20vh 0;
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    align-self: center;
    width: min-content;
    margin: auto;
    font-size: 40px;
    color: var(--cor-roxa);
}

#conteudo div {
    width: max-content;
    margin: auto;
}

#tempo-decorrido span {
    font-size: 30px;
}

#action-buttons {
    display: flex;
    flex-wrap: wrap;
}

#action-buttons button {
    font-weight: 100;
    font-size: 25px;
    background: none;
    border: none;
    margin: 0 1rem;
    cursor: pointer;
    position: static;
    transition: font-size .2s;
}

#action-buttons button:hover {
    color: var(--cor-azul-claro);
    font-size: 27px;
}